body{
    background-color: black;
}
#clock_container{
    position: relative;
    background-color: black;
    height:40vw;
    width:40vw;
    background:url("clock.png") no-repeat;
    background-size: 100%;
    margin: auto;
    
}
#hour,#minute,#sec {
    position: absolute;
    width: 0.6%;
   
}
#hour{
    background: red;
    height: 28%;
    top: 22%;
    left: 49.6%;
    transform-origin: bottom;
}
#minute{
    background: white;
    height: 40%;
    top: 10%;
    left: 49.6%;
    transform-origin: bottom;
}
#sec{
    background: white;
    height: 45%;
    top: 5%;
    left: 49.6%;
    transform-origin: bottom;
}